.DS_Store
*.iml
example/.gradle
example/.idea
example/build
example/local.properties
koshian-core/.gradle
koshian-core/.idea
koshian-core/build
koshian-core/local.properties
koshian-recyclerview/.gradle
koshian-recyclerview/.idea
koshian-recyclerview/build
koshian-recyclerview/local.properties
